APP_ENV=dev
APP_SECRET=CHANGEZ_CETTE_VALEUR_ICI

# Remplacez avec vos informations MySQL
DATABASE_URL="mysql://UTILISATEUR:MOT_DE_PASSE@127.0.0.1:3306/gestion_depenses?serverVersion=8.0&charset=utf8mb4"
